@{
    ViewData["Title"] = "Home Page";
}

@model DashboardViewModel

<link rel="stylesheet" href="~/css/Dashboard/index.css" asp-append-version="true" />
<link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">

<div class="container">
    <div class="d-flex align-items-center bg-white rounded gap-3 p-2 mb-3">
        <label class="label-text">Date Periode:</label>
        <div class="input-group bg-white" style="width:15%">
            <input id="dateRange" type="text" class="form-control search-input" placeholder="Monthly" readonly>
            <span class="input-group-text search-input-icon">
                <i class="bi bi-calendar4-range search-icon"></i>
            </span>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card dashboard-card h-100 border-0">
                <div class="card-body d-flex flex-column">
                    <div class="d-flex align-items-center mb-2">
                        <div class="circle-wrapper bg-light me-2">
                            <i class="bi bi-graph-up"></i>
                        </div>
                        <span class="card-title mb-0">Total Sales Amount</span>
                    </div>
                    <div class="value-container d-flex justify-content-between align-items-baseline mt-auto">
                        <h2 class="card-value">@Model.SalesAnalytics.TotalSalesAmount</h2>
                        <span class="card-unit">Rupiah</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4">
            <div class="card dashboard-card h-100 border-0">
                <div class="card-body d-flex flex-column">
                    <div class="d-flex align-items-center mb-2">
                        <div class="circle-wrapper bg-light me-2">
                            <i class="bi bi-box"></i>
                        </div>
                        <span class="card-title mb-0">Total Product Sales</span>
                    </div>
                    <div class="value-container d-flex justify-content-between align-items-baseline mt-auto">
                        <h2 class="card-value">@Model.SalesAnalytics.TotalProductSales</h2>
                        <span class="card-unit">Items</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4">
            <div class="card dashboard-card h-100 border-0">
                <div class="card-body d-flex flex-column">
                    <div class="d-flex align-items-center mb-2">
                        <div class="circle-wrapper bg-light me-2">
                            <i class="bi bi-people"></i>
                        </div>
                        <span class="card-title mb-0">Total Customers</span>
                    </div>
                    <div class="value-container d-flex justify-content-between align-items-baseline mt-auto">
                        <h2 class="card-value">@Model.SalesAnalytics.TotalCustomers</h2>
                        <span class="card-unit">Persons</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    flatpickr("#dateRange", {
      mode: "range",
      dateFormat: "Y-m-d",
      altInput: true,
      altFormat: "F Y",
      allowInput: false,
      onChange: function(selectedDates, dateStr, instance) {
        if (selectedDates.length === 2) {
          const monthName = selectedDates[0].toLocaleDateString('en-US', { month: 'long', year: 'numeric' });
          document.getElementById('dateRange').value = monthName;
        }
      }
    });
</script>