USE [master]
GO
/****** Object:  Database [POS]    Script Date: 4/9/2025 4:58:40 PM ******/
CREATE DATABASE [POS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'POS', FILENAME = N'C:\Users\Rizal\POS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'POS_log', FILENAME = N'C:\Users\Rizal\POS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [POS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [POS]
GO
/****** Object:  Table [dbo].[tblLogAudit]    Script Date: 4/9/2025 4:58:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLogAudit](
	[LogID] [uniqueidentifier] NOT NULL,
	[LogAction] [varchar](50) NULL,
	[LogEntityName] [varchar](50) NOT NULL,
	[LogKeyName] [varchar](500) NULL,
	[LogKeyValue] [varchar](500) NULL,
	[LogUsername] [varchar](50) NULL,
	[LogFldName] [varchar](50) NULL,
	[LogFldOldValue] [varchar](max) NULL,
	[LogFldNewValue] [varchar](max) NULL,
	[LogDateTime] [datetime] NULL,
 CONSTRAINT [PK_tblLogAudit] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProduct]    Script Date: 4/9/2025 4:58:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProduct](
	[ProductID] [varchar](36) NOT NULL,
	[CategoryID] [varchar](36) NOT NULL,
	[ProductCode] [char](4) NOT NULL,
	[ProductName] [varchar](100) NOT NULL,
	[ProductDescription] [varchar](255) NULL,
	[ProductStock] [int] NULL,
	[IsLimitedStock] [bit] NULL,
	[IsAvailable] [bit] NULL,
	[Price] [float] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__tblProdu__B40CC6EDB8236FAB] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProductAddon]    Script Date: 4/9/2025 4:58:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProductAddon](
	[AddonID] [varchar](36) NOT NULL,
	[ProductID] [varchar](36) NOT NULL,
	[AddonName] [varchar](50) NOT NULL,
	[AddonPrice] [float] NOT NULL,
	[AddonStock] [int] NOT NULL,
	[IsLimitedStock] [bit] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AddonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProductCategory]    Script Date: 4/9/2025 4:58:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProductCategory](
	[CategoryID] [varchar](36) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
	[CategoryDescription] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProductVariant]    Script Date: 4/9/2025 4:58:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProductVariant](
	[VariantID] [varchar](36) NOT NULL,
	[ProductID] [varchar](36) NOT NULL,
	[SKU] [varchar](50) NOT NULL,
	[VariantPrice] [float] NOT NULL,
	[VariantStock] [int] NOT NULL,
	[IsLimitedStock] [bit] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VariantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVariantGroup]    Script Date: 4/9/2025 4:58:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVariantGroup](
	[GroupID] [varchar](36) NOT NULL,
	[ProductID] [varchar](36) NOT NULL,
	[VariantName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVariantOption]    Script Date: 4/9/2025 4:58:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVariantOption](
	[OptionID] [varchar](36) NOT NULL,
	[GroupID] [varchar](36) NOT NULL,
	[Value] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblLogAudit] ADD  CONSTRAINT [DF_tblLogAudit_LogID]  DEFAULT (newid()) FOR [LogID]
GO
ALTER TABLE [dbo].[tblProduct] ADD  CONSTRAINT [DF__tblProduc__Creat__71D1E811]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tblProduct] ADD  CONSTRAINT [DF__tblProduc__Updat__72C60C4A]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[tblProductAddon] ADD  CONSTRAINT [DF_tblProductAddon_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tblProductAddon] ADD  CONSTRAINT [DF_tblProductAddon_UpdatedAt]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[tblProductVariant] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tblProductVariant] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[tblProduct]  WITH CHECK ADD  CONSTRAINT [FK__tblProduc__Categ__73BA3083] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[tblProductCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[tblProduct] CHECK CONSTRAINT [FK__tblProduc__Categ__73BA3083]
GO
ALTER TABLE [dbo].[tblProductAddon]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[tblProduct] ([ProductID])
GO
ALTER TABLE [dbo].[tblProductVariant]  WITH CHECK ADD  CONSTRAINT [FK__tblProduc__Produ__7E37BEF6] FOREIGN KEY([ProductID])
REFERENCES [dbo].[tblProduct] ([ProductID])
GO
ALTER TABLE [dbo].[tblProductVariant] CHECK CONSTRAINT [FK__tblProduc__Produ__7E37BEF6]
GO
ALTER TABLE [dbo].[tblVariantGroup]  WITH CHECK ADD  CONSTRAINT [FK__tblVarian__Produ__76969D2E] FOREIGN KEY([ProductID])
REFERENCES [dbo].[tblProduct] ([ProductID])
GO
ALTER TABLE [dbo].[tblVariantGroup] CHECK CONSTRAINT [FK__tblVarian__Produ__76969D2E]
GO
ALTER TABLE [dbo].[tblVariantOption]  WITH CHECK ADD FOREIGN KEY([GroupID])
REFERENCES [dbo].[tblVariantGroup] ([GroupID])
GO
USE [master]
GO
