@using Microsoft.AspNetCore.Mvc.Routing
@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    var session = HttpContextAccessor.HttpContext.Session;
    bool modifyMode = session.GetString("ModifyMode") == "true";
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light py-3">
    <div class="container">
        <div class="py-2 ps-2 pe-3 circle-con">
            <div class="d-flex gap-2 align-items-center" type="button" id="menu-btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <div class="rounded-circle circle-wrapper">
                    <i class="bi bi-grid text-primary"></i>
                </div>
                <p class="m-0 text-black">Menu</p>
            </div>
        </div>
        <div class="datetime-container d-flex gap-3 align-items-center">
            @{
                var currentDate = DateTime.Now;
                var formattedDate = currentDate.ToString("ddd, dd MMMM yyyy");
                var formattedTime = currentDate.ToString("hh:mm tt");
            }
            <div class="d-flex gap-3">
                @if(currentController == "Dashboard")
                {
                    <div class="d-flex gap-3 align-items-center py-2 ps-3 pe-2 circle-con" role="button" id="download-report">
                        <p class="m-0">
                            Download
                        </p>
                        <div class="rounded-circle circle-wrapper bg-primary">
                            <i class="bi bi-download text-white"></i>
                        </div>
                    </div>

                }
                else
                {
                    @if(currentController == "Product" && currentAction == "ProductList")
                    {
                        @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                        {
                            @if (modifyMode)
                            {
                                <a href="@Url.Action("ToggleModifyMode")" class="d-flex gap-3 align-items-center py-2 ps-3 pe-2 circle-con text-decoration-none" role="button" id="download-report">
                                    <p class="m-0">
                                        View Mode
                                    </p>
                                    <div class="rounded-circle circle-wrapper bg-primary">
                                        <i class="bi bi-eye text-white"></i>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("ToggleModifyMode")" class="d-flex gap-3 align-items-center py-2 ps-3 pe-2 circle-con text-decoration-none" role="button" id="download-report">
                                    <p class="m-0">
                                        Modify Mode
                                    </p>
                                    <div class="rounded-circle circle-wrapper bg-primary">
                                        <i class="bi bi-gear text-white"></i>
                                    </div>
                                </a>                            
                            }
                        }
                    }
                }
                <div class="d-flex gap-3 align-items-center py-2 ps-2 pe-3 circle-con">
                    <div class="rounded-circle circle-wrapper">
                        <i class="bi bi-calendar text-primary"></i>
                    </div>
                    <p class="m-0">@formattedDate</p>
                </div>
            </div>
            <div>
                -
            </div>
            <div class="d-flex gap-3 align-items-center py-2 ps-2 pe-3 circle-con">
                <div class="rounded-circle circle-wrapper">
                    <i class="bi bi-clock text-primary"></i>
                </div>
                <p class="m-0">@formattedTime</p>
            </div>
        </div>
    </div>
</nav>