@model ProductFormModel
@{
    ViewData["Title"] = "Add Product";
}

<link rel="stylesheet" href="~/css/Product/index.css" asp-append-version="true" />

@using (Html.BeginForm("Save", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container d-flex flex-column gap-2">
        <div class="card border-0">
            <div class="card-body">
                <h5 class="card-title">Product Information</h5>
                <hr />
                <div class="d-flex flex-column gap-2">
                    <div>
                        <label for="name" class="form-label">Product Name*</label>
                        <input class="form-control" id="name" placeholder="Roti Kacang" asp-for="Product.ProductName">
                        <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                    </div>
                    <div>
                        <label for="description" class="form-label">Product Description</label>
                        <textarea class="form-control" id="description" rows="2" asp-for="Product.ProductDescription"></textarea>
                        <span asp-validation-for="Product.ProductDescription" class="text-danger"></span>
                    </div>
                    <div>
                        <label for="category" class="form-label">Product Category*</label>
                        <select class="form-select" aria-label="Product Category" id="category" asp-for="Product.CategoryId">
                            <option value="">Open this select menu</option>
                            @foreach (var category in Model.ProductCategories)
                            {
                                <option value="@category.CategoryId">@category.CategoryName</option>
                            }
                        </select>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>
                    <div>
                        <label for="productImage" class="form-label">Product Image</label>
                        <input type="file" class="form-control" id="productImage" name="productImage" asp-for="Product.ProductImage" accept="image/*">
                        <span asp-validation-for="Product.ProductImage" class="text-danger"></span>

                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0" id="product-management">
            <div class="card-body">
                <h5 class="card-title">Product Management</h5>
                <hr />
                <div class="d-flex flex-column gap-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="isAvailable" asp-for="Product.IsAvailable">
                        <label class="form-check-label" for="isAvailable">
                            Status Product
                        </label>
                    </div>
                    <div>
                        <label for="name" class="form-label">Product Stock</label>
                        <input type="number" class="form-control" id="stock" asp-for="Product.ProductStock">
                    </div>
                    <div>
                        <label for="product-price" class="form-label">Product Price</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Rp</span>
                            </div>
                            <input type="text" class="form-control product-price" id="product-price" asp-for="Product.Price">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h5 class="card-title m-0">Variant Product</h5>
                        <p class="card-text">Add a selection of product variants here. Specify the types and options available.</p>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="hasVariant">
                        <label class="form-check-label" for="hasVariant">
                            Has Variant
                        </label>
                    </div>
                </div>
                <hr />
                <div id="variant">
                    <a class="btn btn-outline-primary" id="newVariant">Add Variant</a>
                    <div id="variant-container" class="d-flex flex-column gap-2">
                    </div>
                    <table class="table table-variant">
                        <thead>
                            <tr>
                                <th scope="col">SKU</th>
                                <th scope="col">Variant Price</th>
                                <th scope="col">Variant Stock</th>
                                <th scope="col">Limited Stock</th>
                                <th scope="col">Available</th>
                            </tr>
                        </thead>
                        <tbody id="table-variant-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card border-0">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h5 class="card-title m-0">Add-On Product</h5>
                        <p class="card-text">Add complementary product options or upgrades that customers can choose alongside the main item.</p>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="hasAddons">
                        <label class="form-check-label" for="hasAddons">
                            Has Addons
                        </label>
                    </div>
                </div>
                <hr />
                <div id="addons">
                    <a class="btn btn-outline-primary" id="newAddon">Addons</a>
                    <table class="table table-addons">
                        <thead>
                            <tr>
                                <th scope="col">Addon Name</th>
                                <th scope="col">Price Per Unit</th>
                                <th scope="col">Addon Stock</th>
                                <th scope="col">Limited Stock</th>
                                <th scope="col">Available</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-addons-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="w-100">
            <button class="btn btn-primary w-100" type="submit">Save Product</button>
        </div>
    </div>
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    @if (TempData["SuccessMessage"] != null)
    {
        <text>
                Swal.fire({
                    icon: 'success',
                    title: 'Sukses',
                    text: '@TempData["SuccessMessage"]',
                    confirmButtonText: 'OK'
                });
        </text>
    }
</script>

<script>
    document.querySelector("form").addEventListener("submit", function (e) {
        const fileInput = document.getElementById("productImage");
        const file = fileInput?.files[0];

        if (file && file.size > 400 * 1024) {
            e.preventDefault();
            Swal.fire({
                icon: 'error',
                title: 'Image size is too large.',
                text: 'The maximum image size is 400KB.'
            });
            return false;
        }
    });
</script>

<script src="~/Views/Product/index.cshtml.js"></script>
