@{
    ViewData["Title"] = "Menu";
}

@model List<TblProduct>

<link rel="stylesheet" href="~/css/Product/index.css" asp-append-version="true" />

<div class="container">
    <div class="row">
        @foreach(var item in Model)
        {
            <div class="col-md-3 col-sm-4">
                <div class="card clickable-card" data-id="@item.ProductId" style="cursor: pointer;">
                    <div class="card-body">
                        <h6 class="card-title">@item.ProductName</h6>
                        <div class="d-flex justify-content-between">
                            <p class="card-text m-0">@item.Category.CategoryName</p>
                            <b>
                                <p class="card-text">
                                    @{
                                        var priceText = String.Empty;
                                        if (item.TblProductVariants.Count() > 1)
                                        {
                                            var lowPrice = item.TblProductVariants.Min(x => x.VariantPrice);
                                            var hightPrice = item.TblProductVariants.Max(x => x.VariantPrice);
                                            priceText = $"Rp{lowPrice}-{hightPrice}";
                                        }
                                        else if (item.TblProductVariants.Count() == 1)
                                        {
                                            var price = item.TblProductVariants.Select(x => x.VariantPrice).FirstOrDefault();
                                            priceText = $"Rp{price}";
                                        }
                                        else
                                        {
                                            priceText = $"Rp{item.Price}";
                                        }
                                    }
                                    @priceText
                                </p>
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="productDetailModal" tabindex="-1" role="dialog" aria-labelledby="productDetailModalLabel" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-menu border-0">
            <div class="modal-header">
                <h6 class="modal-title text-center" id="productDetailModalLabel">Product Detail</h6>
                <button type="button" class="close border-0" data-dismiss="modal" aria-label="Close" id="product-detail-close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="productModalBody">
            </div>
            <div class="modal-footer p-0 border-top-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
                                        <i class="bi bi-dash"></i>
                                    </button>
                                </span>
                                <input type="text" name="quant[1]" class="form-control input-number text-center border-white" value="1" min="1" max="10">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-add-cart m-0 w-100" data-dismiss="modal">Add to Cart<span id="priceContainer"></span></button>
            </div>
        </div>
    </div>
</div>

<script>
    const variants = @Html.Raw(Json.Serialize(Model.SelectMany(x => x.TblProductVariants).Select(v => new
        {
            sku = v.Sku,
            price = v.VariantPrice
        })));
</script>

<script>
    let selected = {};

    $(document).on('click', '.variant-option-tag', function () {
        const value = $(this).data('value');
        const group = $(this).data('group');

        $(this).closest('.body-variant-group').find('.variant-option-tag').removeClass('option-selected');
        $(this).addClass('option-selected');

        selected[group] = value;

        const totalGroups = $('.body-variant-group').length;
        if (Object.keys(selected).length === totalGroups) {
            const combined = Array.from({ length: totalGroups }, (_, i) => selected[i]).join('-');
            const match = variants.find(v => v.sku === combined);

            if (match) {
                $('#priceContainer').text(' (Rp' + match.price + ')');
            } else {
                $('#priceContainer').text(' (-)');
            }
        }
    });
</script>


<script src="~/Views/Product/Menu.cshtml.js"></script>
