@model pos_system.Models.InventoryFormModel
@{
    ViewData["Title"] = "Add Inventory Item";
}

<link rel="stylesheet" href="~/css/Product/index.css" asp-append-version="true" />
@using (Html.BeginForm("AddInventory", "Inventory", FormMethod.Post))
{
    <div class="container d-flex flex-column gap-3">
        <div class="card border-0">
            <div class="card-body">
                <h5 class="card-title">Inventory Form</h5>
                <hr />

                <div class="mb-3">
                    <label for="name" class="form-label">Item Name *</label>
                    <input class="form-control" id="name" name="Part.PartName" placeholder="Example: Tepung Terigu" required>
                </div>

                <div class="mb-3">
                    <label for="category" class="form-label">Category Item *</label>
                    <select class="form-select" id="category" name="Part.PartTypeId" required>
                        <option selected disabled>Choose Category</option>
                        @foreach(var type in Model.PartTypes)
                        {
                            <option value="@type.PartTypeId">@type.PartTypeName</option>                            
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label for="stock" class="form-label">Total Item *</label>
                    <input type="number" class="form-control" id="stock" name="Part.PartQty" required>
                </div>

                <div class="mb-3">
                    <label for="unit" class="form-label">Unit *</label>
                    <select class="form-select" id="unit" name="Part.UnitId" required>
                        <option selected disabled>Choose unit</option>
                        @foreach(var unit in Model.Units)
                        {
                            <option value="@unit.UnitId">@unit.UnitName</option>
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Price (Rp) *</label>
                    <div class="input-group">
                        <span class="input-group-text">Rp</span>
                        <input type="number" class="form-control" id="price" name="Part.Price" placeholder="Example: 5000" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="note" class="form-label">Note</label>
                    <textarea class="form-control" id="note" name="Part.Note" rows="3" placeholder="Example: Items should be stored in a dry place."></textarea>
                </div>

                <div class="mt-4">
                    <button type="submit" class="btn btn-primary w-100">Add Item</button>
                </div>
            </div>
        </div>
    </div>
}
