.circle-wrapper {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(13,110,253,.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-con {
    border-radius: 50px;
    background-color: white;
}


.pill-wrapper-success-left {
    column-gap:.1rem;
    font-size: .8rem;
    color: #328572;
    width: max-content;
    height: 28px;
    padding: 0 .7rem 0 .5rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(28, 135, 48, .05);
}


.pill-wrapper-success-right {
    column-gap: .1rem;
    font-size: .8rem;
    color: #328572;
    width: max-content;
    height: 28px;
    padding: 0 .5rem 0 .7rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(28, 135, 48, .05);
}

.pill-wrapper-danger-left {
    column-gap: .1rem;
    font-size: .8rem;
    color: #FC4A4A;
    width: max-content;
    height: 28px;
    padding: 0 .7rem 0 .5rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(252, 74, 74, .1);
}

.pill-wrapper-danger-right {
    column-gap: .1rem;
    font-size: .8rem;
    color: #FC4A4A;
    width: max-content;
    height: 28px;
    padding: 0 .5rem 0 .7rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(252, 74, 74, .1);
}

.search-input {
    border: 0;
    padding: 1rem;
    border-radius: 50px 0 0 50px;
    background-color: rgb(248,249,250);
}

.search-input-icon {
    border-radius: 0 50px 50px 0;
    background-color: rgb(248,249,250);
    border: 0;
}

.search-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(248,249,250);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot-middle {
    height: 5px;
    width: 5px;
    border-radius: 50%;
}

.table-header-cus {
    text-transform: none;
    font-weight: 500;
    text-align: center;
    padding: .5rem;
    border: 1px solid rgba(108, 117, 125, .2);
    border-radius: 50px;
    margin-bottom: .5rem;
}