body {
    font-family: "Urbanist", sans-serif;
}

.carousel-inner {
    height: 300px;
}

    .carousel-inner img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

.btn-orange {
    background-color: orange;
    color: white;
}

    .btn-orange:hover {
        background-color: darkorange;
        color: white;
    }

.menu-img {
    height: 200px;
    object-fit: cover;
}

.text-orange {
    color: orange;
}

.border-orange {
    border: 2px solid orange;
}

footer a:hover {
    color: #ff6600 !important;
    text-decoration: underline;
}

footer h6 {
    color: #ff6600;
}

@media (max-width: 768px) {
    h1 .display-5 {
        font-size: 1.8rem;
    }

    .carousel-inner {
        height: 200px;
    }

    .menu-img {
        height: 150px;
    }

    .card-text {
        font-size: 0.9rem;
    }

    .btn-orange, .btn-warning {
        width: 100%;
    }
}


.dropdown-menu {
    z-index: 9999 !important;
    position: absolute !important;
}


.dropdown.show .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
}

.dropdown-menu {
    background-color: #ffffff !important;
    color: #000000 !important;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    min-width: 180px;
    z-index: 9999;
}

    .dropdown-menu .dropdown-item {
        color: #212529 !important;
    }

        .dropdown-menu .dropdown-item:hover {
            background-color: #f8f9fa;
        }





